<div class="row tomove">
  <div class="col-lg-12" *ngIf="clients">

      <p> Pour rechercher un client particulier, veuillez utiliser la barre de recherche ci-dessous. </p>
      <input class="form-control" type="text" placeholder="Rechercher.." #searchFilter (keyup)="0">
      <br>	<br>
      
    <table class="table table-striped">						
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse</th>
          <!--
          <th>Editer</th>
          <th>Supprimer</th>
          -->	
        </tr>
      </thead> 
      <tbody>			          	
          <tr *ngFor="let client of clients | searchPipe : searchFilter.value " routerLink="/detail/{{client.id}}" >
              <td>{{client.id}}</td>
              <td>{{client.nom}}</td>
              <td>{{client.prenom}}</td>									
              <td>{{client.adresse}}</td>
              <!--
              <td><i class="fa fa-fw fa-edit" routerLink="/edit/{{client.id}}"></i></td>
              <td><i class="fa fa-fw fa-edit" routerLink="/edit/{{client.id}}"></i></td>			
              -->		
          </tr>		
      </tbody>				
    </table>

  </div>
</div>
<!-- /.row -->