<div class="row tomove">
  <div class="col-lg-12" *ngIf="clients">

    <table class="table table-striped">						
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Adresse</th>
          <th>Téléphone</th>
          <th>eMail</th>
        </tr>
      </thead> 
      <tbody >			          	
          <tr *ngFor="let client of clients" routerLink="/detail/{{client.id}}">
              <td>{{client.id}}</td>
              <td>{{client.nom}}</td>
              <td>{{client.prenom}}</td>									
              <td>{{client.adresse}}</td>
              <td>{{client.telephone}}</td>
              <td>{{client.mail}}</td>						
          </tr>		
      </tbody>				
    </table>	                  
  </div>
</div>
<!-- /.row -->