<h1 class="page-header">
    Audit de votre agence
</h1>

<h4 class="center">Montant des virements sur les 3 derniers mois</h4>
<br>
<div style="width: 40%;" *ngIf="chartDataPie"> 
    <canvas        
        baseChart
        [chartType]="'pie'"
        [data]="chartDataPie"
        [options]="chartOptions"
        [labels]="chartLabelsPie"
        [legend]="true"
        [colors]="colors">
    </canvas>
</div>
<br>
<br>
<h4 class="center">Nombre de virement sur les 5 derniers mois</h4>
<br>
<div style="width: 40%;" *ngIf="chartDataHisto"> 
    <canvas        
        baseChart
        [chartType]="'bar'"
        [data]="chartDataHisto"
        [options]="chartOptions"
        [labels]="chartLabelsHisto"
        [legend]="true"
        [colors]="colors">
    </canvas>
</div>