<h1 class="page-header">
    <i class="fa fa-fw fa-list-alt"></i> Liste des comptes de vos clients
</h1>

<fieldset>
	<legend>Sélectionner un de vos clients dans la liste ci-dessous pour afficher ses comptes</legend>
  
	<form class="form" (ngSubmit)= "onClick()">
	  <div class="form-group">
		<label>Choisissez votre client :</label>
		  <select class="form-control" name="client" [(ngModel)]="id">
			  <option  *ngFor="let client of clients" [value]="client.id">
					{{client.prenom}} {{client.nom}}
			  </option>
		  </select>
	  </div>
	
  
	  <button type=submit class="btn btn-primary" >Valider</button>
  
	</form>

	<div *ngIf = "comptes">
		<table class="table table-striped">
		  <thead>
			<tr>
				<th>Type</th>
			  <th>n° de compte</th>
			  <th>Solde (en €)</th>
			  <th>Date d'ouverture</th>
			</tr>
		  </thead>
	  
		  <tbody>
			<tr *ngFor= "let compte of comptes" (click)="onSelect(compte)">
				<td>{{compte.type | uppercase }}</td>
			  <td>{{compte.numero}}</td>
			  <td>{{compte.solde | number : '1.2-2'}}</td>
			  <td>{{compte.dateOuverture | date :'dd/MM/yyyy'}}</td>
			</tr>
		  </tbody>
		</table>
		</div>
		
		
		<div *ngIf = "selectedCompte">
				<br><br><br>
				<h3>Virements réalisés depuis le compte n°{{selectedCompte.numero}}</h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Numéro de compte</th>
					<th>Solde</th>
					<th>Date d'ouverture</th>
				</tr>
				</thead>
			
				<tbody>
				<!--<tr *ngFor= "let compte of comptes">-->
				<tr >
					<td>{{selectedCompte.numero}}</td>
					<td>{{selectedCompte.solde}}</td>
					<td>{{selectedCompte.dateOuverture | date :'dd/MM/yyyy'}}</td>
				</tr>
				</tbody>
			</table>
			</div>
  
<!--	<app-compte-detail></app-compte-detail> -->