<h1 class="page-header">
    <i class="fa fa-fw fa-list-alt"></i> Liste des comptes de vos clients
</h1>

<div class="tomove">
<fieldset>
	<legend>Sélectionner un de vos clients dans la liste ci-dessous pour afficher ses comptes</legend>
  
	<form class="form" (ngSubmit)= "onClick()">
	  <div class="form-group">
		<label>Choisissez votre client :</label>
		  <select class="form-control" name="client" [(ngModel)]="id">
			  <option  *ngFor="let client of clients" [value]="client.id">
					{{client.prenom}} {{client.nom}}
			  </option>
		  </select>
	  </div>
	
  
	  <button type=submit class="btn btn-primary" >Valider</button>
  
	</form>

	<div *ngIf = "comptes">
		<table class="table table-striped">
	<div *ngIf = "comptes" class="tomove">
		<table>
		  <thead>
			<tr>
				<th>Type</th>
			  <th>n° de compte</th>
			  <th>Solde (en €)</th>
			  <th>Date d'ouverture</th>
			</tr>
		  </thead>
	  
		  <tbody>
			<tr *ngFor= "let compte of comptes" (click)="onSelect(compte)">
				<td>{{compte.type | uppercase }}</td>
			  <td>{{compte.numero}}</td>
			  <td>{{compte.solde | number : '1.2-2'}}</td>
			  <td>{{compte.dateOuverture | date :'dd/MM/yyyy'}}</td>
			</tr>
		  </tbody>
		</table>
		</div>
		
		
		<div *ngIf = "selectedCompte">
				<br><br><br>
				<h3>Opérations effectuées sur le <strong>compte {{selectedCompte.type | uppercase }} n°{{selectedCompte.numero}}</strong></h3>
				<br>
				<h4>DEBIT</h4>
			<table class="table table-striped">
					<thead>
							<tr>
							<th rowspan="2">Date</th>
							<th colspan="2">Compte créditeur</th>
							<th rowspan="2">Montant (en €)</th>
							<th rowspan="2">Libellé</th>
							</tr>
							<tr>
								<th>Client</th>
								<th>n° de compte</th>
							</tr>
						</thead> 
						<tbody >			          	
							<tr *ngFor="let virement of virementsDebit">
								<td>{{virement.dateVirement | date : 'dd/MM/yy'}}</td>								
								<td>{{virement.compteCible.client.nom}}</td>
								<td>{{virement.compteCible.numero}}</td>
								<td>{{virement.montant | number : '1.2-2'}}</td>
								<td>{{virement.libelle}}</td>					
							</tr>		
						</tbody>	
			</table>
			<br>
			<h4>CREDIT</h4>
			<table class="table table-striped">
					<thead>
							<tr>
							<th rowspan="2">Date</th>
							<th colspan="2">Compte débiteur</th>
							<th rowspan="2">Montant (en €)</th>
							<th rowspan="2">Libellé</th>
							</tr>
							<tr>
								<th>Client</th>
								<th>n° de compte</th>
							</tr>
						</thead> 
						<tbody >			          	
							<tr *ngFor="let virement of virementsCredit">
								<td>{{virement.dateVirement | date : 'dd/MM/yy'}}</td>
								<td>{{virement.compteEmetteur.client.nom}}</td>
								<td>{{virement.compteEmetteur.numero}}</td>									
								<td>{{virement.montant | number : '1.2-2'}}</td>
								<td>{{virement.libelle}}</td>					
							</tr>		
						</tbody>	
			</table>
			</div>
  
<!--	<app-compte-detail></app-compte-detail> -->