<div class="row tomove">
	<div class="col-lg-12" *ngIf="virements">
  
	  <table class="table table-striped">						
		<thead>
		  <tr>
			<th>Id</th>
			<th>Conseiller(ID)</th>
			<th>Compte emetteur</th>
			<th>Compte cible</th>
			<th>Montant</th>
			<th>Date du virement</th>
			<th>Libelle</th>
		  </tr>
		</thead> 
		<tbody >			          	
			<tr *ngFor="let virement of virements" routerLink="/listeVirements">
				<td>{{virement.id}}</td>
				<td>{{virement.conseiller}}</td>
				<td>{{virement.compte_emetteur}}</td>									
				<td>{{virement.compte_cible}}</td>
				<td>{{virement.montant}}</td>
				<td>{{virement.date_virement}}</td>
				<td>{{virement.libelle}}</td>						
			</tr>		
		</tbody>				
	  </table>	                  
	</div>
  </div>