<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="loginService.getRoleEmployeSession() == 'conseiller'">
  <ul class="nav navbar-nav side-nav">

    <li class="divider">Gestion des clients</li>
      <li>
        <a routerLink="/clients"><!--class="active"--><i class="fa fa-fw fa-address-book"></i> Liste des clients</a>
      </li>
      <li>
        <a routerLink="/client/creer"><i class="fa fa-fw fa-edit"></i> Création d'un client</a>
      </li>

    <li class="divider">Gestion des comptes</li>
      <li>
        <a routerLink="/compte/liste"><i class="fa fa-fw fa-list-alt"></i> Liste des comptes</a>
      </li>
      <li>
        <a routerLink="/compte/creer"><i class="fa fa-fw fa-edit"></i> Créer un compte</a>
      </li>

    <li class="divider">Opérations bancaires</li>
      <li>
        <a routerLink="/virement"><i class="fa fa-fw fa-credit-card"></i> Virement compte à compte</a>
      </li>
      <li>
        <a routerLink="/virement/liste"><i class="fa fa-fw fa-calculator"></i> Liste des virements</a>
      </li>

  </ul>
</div>

<div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="loginService.getRoleEmployeSession() == 'gerant'">
    <ul class="nav navbar-nav side-nav">

      <li class="divider">Gestion des conseillers</li>
        <li>
          <a routerLink="/conseillers"><!--class="active"--><i class="fa fa-fw fa-address-book"></i> Liste des conseillers</a>
        </li>

        <li class="divider">Audit de l'agence</li>
        <li>
          <a routerLink="/audit"><i class="fa fa-fw fa-bar-chart"></i> Transactions</a>
        </li>

    </ul>
  </div>
