<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
		"http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd"
		"http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<Configuration status="info">

	<Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[ %-5level] %c{1} - %msg%n}{FATAL=black, ERROR=red, WARN=yellow, INFO=cyan, DEBUG=magenta, TRACE=blue}"/>
        </Console>
    </Appenders>

	<Loggers>       
        <Root level="info">
            <appender-ref ref="console" />
        </Root>
    </Loggers>

</Configuration>


<!--<Configuration status="info" name="Proxibanque" packages="">

  <Appenders>
  
    <File name="Virement" fileName="Proxibanque/virement.log">
      <PatternLayout pattern= {FATAL=black, ERROR=red, WARN=yellow, INFO=blue, DEBUG=magenta, TRACE=cyan}>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    
    <Async name="Async">
      <AppenderRef ref="Virement"/>
    </Async>
    
  </Appenders>
  
  <Loggers>
  
    <Root level="info">
      <AppenderRef ref="Async"/>
    </Root>
    
  </Loggers>
</Configuration>-->