<fieldset>
  <legend>Sélectionner un de vos clients dans la liste ci-dessous pour afficher ses comptes</legend>

  <form class="form">
    <div class="form-group">
      <label>Choisissez votre client :</label>
        <select class="form-control" name="client">
            <option value="" disabled>
              Seletionner un client
            </option>
            <option *ngFor="let client of clients" (click)="onSelect(client)">
              {{client.prenom}} {{client.nom}}
            </option>

    <input type=submit class="btn btn-primary">
