<div id="wrapper">
    <!------------------------------------------------ NAVIGATION ------------------------------------------------>
    <app-nav [title]="title" [conseiller]="loginService.conseiller" *ngIf="loginService.conseiller.prenom"></app-nav>
   <!------------------------------------------------ /NAVIGATION ------------------------------------------------>
    
    <!------------------------------------------------ DEBUIT DE LA PAGE PRINCIPALE ------------------------------------------------>
    <div id="page-wrapper">
        <div class="container-fluid">
        <!------------------------------ CONTENU PRINCIPAL ------------------------------>             
        <app-dashboard *ngIf="loginService.conseiller.prenom"></app-dashboard>    
        <!-- Le <router-outlet> indique au routeur où afficher les vues routées. -->
        <router-outlet ></router-outlet>    

        <!------------------------------ FIN CONTENU PRINCIPAL ------------------------------>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!------------------------------------------------ FIN DE LA PAGE PRINCIPALE ------------------------------------------------>
    <!-- /#page-wrapper -->

    <footer class="sticky-footer">
        <div class="text-center">
          <small>Copyright © {{title}} 2017</small>
        </div>
    </footer>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="assets/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

