<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
    	<!-- Pour mettre un fichier proxibanque.log dans le dossier parent -->
		<RollingFile name="fileLogger" fileName="./logs/proxibanque.log" 
		             filePattern="./logs/proxibanque-%d{yyyy-MM-dd HH}.log">
		    <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm} - %msg%n</pattern>
            </PatternLayout>
		    <Policies>
		        <SizeBasedTriggeringPolicy size="10MB" />
		        <!-- pattern = yyyy-MM-dd + interval="1" = fait un fichier sauvegarde tous les jours -->
		        <!-- pattern yyyy-MM-dd HH:mm + interval="1" = fait un fichier sauvegarde toutes les minutes -->
		        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
		    </Policies>
		    <!-- Nombre max de lignes dans le fichier  -->
		    <DefaultRolloverStrategy max="100"/>
		</RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="fr.gtm.proxibanque.util" level="info" additivity="true">
            <appender-ref ref="fileLogger" level="info" />
        </Logger>
        <Root level="info" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>