<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Bonjour !</div>
            <div>
              <strong>Nom :</strong>  {{conseiller.nom}}
              <strong>Prénom :</strong> {{conseiller.prenom}}
              <strong>Login :</strong>  {{conseiller.login}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-address-book fa-fw"></i> Mes clients</h3>
      </div>

      <div class="panel-body">    
          <!-- Si clients est défini = liste clients non vide -->                    
          <div class="col-xs-6" *ngIf="clients" >
            <table class="table table-striped">						
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                </tr>
              </thead> 
              <tbody>							
                <tr *ngFor="let client of clients">
                  <td>{{client.idClient}}</td>
                  <td>{{client.nom}}</td>		
                  <td>{{client.prenom}}</td>					
                </tr>				                  								
              </tbody>				
            </table>
          </div>
        <!-- S'il n'y a pas de clients -->
        <!--<ng-template #listeVideBlock>
          Vous n'avez encore aucun clients
        <ng-template>-->
      </div>

      <div class="panel-footer">
        <span class="pull-right"><a href=""><h5>Détail <i class="fa fa-arrow-circle-right"></i></h5></a></span>
        <div class="clearfix"></div>                                    
      </div> 
    </div>
    
  </div>
</div>