<h1 class="page-header">
    <i class="fa fa-fw fa-address-book"></i> Liste des conseillers de votre agence
</h1>

<div class="row tomove">
  <div class="col-lg-12" *ngIf="conseillers">

    <table class="table table-striped">						
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Login</th>
        </tr>
      </thead> 
      <tbody >			          	
          <tr *ngFor="let employe of conseillers">
              <td>{{employe.nom}}</td>
              <td>{{employe.prenom}}</td>
              <td>{{employe.login}}</td>															
          </tr>		
      </tbody>				
    </table>	                  
  </div>
</div>
<!-- /.row -->
