<h1 class="page-header">
    <i class="fa fa-fw fa-list-alt"></i> Liste des comptes du client
</h1>

<div class="tomove">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>n° de compte</th>
        <th>Solde (en €)</th>
        <th>Date d'ouverture</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor= "let compte of comptes">
        <td>{{compte.type | uppercase }}</td>
        <td>{{compte.numero}}</td>
        <td>{{compte.solde | number : '1.2-2'}}</td>
        <td>{{compte.dateOuverture | date :'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
