<div class="row">                    
  <div class="col-lg-12">
    
      <fieldset>
        <legend>Client {{client.prenom}} {{client.nom}} </legend>
        <div class="form-group">
          <label  for="nom">Nom :</label>
          <input type="text" class="form-control" required="required" placeholder={{client.nom}} name="nom" title="Maximum 20 caractères non accentués" pattern="[aA-Z][a-zA-Z-]+">
        </div>
        <div class="form-group">
          <label  for="prenom">Prénom :</label>
          <input type="text" class="form-control" required="required" name="prenom" placeholder={{client.prenom}} title="Maximum 20 caractères non accentués" pattern="[a-zA-Z][a-zA-Z-]+">
        </div>
        <div class="form-group">
          <label for="adresse">Adresse :</label>
          <input type="text" class="form-control" name="adresse"placeholder={{client.adresse}} title="Numéro de rue et adresse. Maximum 60 caractères non accentués" pattern="[0-9]+\s[a-zA-Z-\s]+" maxlength="60">
        </div>
        <div class="form-group">
          <label  for="telephone">Téléphone :</label>
          <input type="tel" class="form-control" name="telephone" placeholder={{client.telephone}} pattern="^0[1-9][0-9]{8}$"> 
        </div>
        <div class="form-group">
          <label  for="mail">email :</label>
          <input type="email" class="form-control" name="mail" placeholder={{client.mail}} title="Exemple : toto@toto.fr" name="mail" maxlength="40">
        </div>

      </fieldset>

  </div>
</div>
<!-- /.row -->