<div class="row">
    <div class="col-lg-12">

      <!--
        <legend>Comptes modifiés</legend>
        <table class="table-striped">
          <thead>
            <tr>
              <th>Numéro de compte</th>
              <th>Client</th>
              <th>Ancien Solde</th>
              <th>Nouveau Solde</th>
            </tr>
          </thead> 
          <tbody>
            <tr>
              <td>${compteDebiteur.numeroCompte}</td>
              <td>${compteDebiteur.client.prenom} ${compteDebiteur.client.nom}</td>
              <td>${compteDebiteur.solde + montant}</td>									
              <td>${compteDebiteur.solde}</td>
            </tr>
            <tr>
              <td>${compteCrediteur.numeroCompte}</td>
              <td>${compteCrediteur.client.prenom} ${compteCrediteur.client.nom}</td>
              <td>${compteCrediteur.solde - montant}</td>									
              <td>${compteCrediteur.solde}</td>
            </tr>
          </tbody>				
        </table>						
        <br></br>	
      -->

      <h4>Vous pouvez effectuer un virement depuis l'un des comptes de vos clients vers l'ensemble des comptes de la banque.</h4>
      
      
        <fieldset>
        <legend>Effectuer un virement</legend>					
        <form class="form" method="post" action="EffectuerVirement">

            <form class="form">
                <div class="form-group">
                <label>Compte à débiter :</label>
                  <!-- Il existe des clients ayant un compte -->
                  <select class="form-control" required="required" name="compteEmetteur" *ngIf="comptesConseiller">                    
                    <option value="" disabled>
                      Séletionner un compte
                    </option>
                    
                    <option *ngFor="let compteEmetteur of comptesConseiller" (click)="onSelect(compteEmetteur)">
                        n°{{compteEmetteur.numero}} - Client : {{compteEmetteur.client.prenom}} {{compteEmetteur.client.nom}}
                      </option>
                  </select>
                  <!-- Le conseiller n'a pas de clients ayant un compte -->
                  <select class="form-control" required="required" name="compteEmetteur" *ngIf="!comptesConseiller">   
                    <option value="" disabled>
                      Vous n'avez pas de client ayant un compte !
                    </option>
                  </select>
                </div>
            </form>


            <form class="form">
                <div class="form-group">
                <label>Compte à débiter :</label>
                  <!-- Il existe des clients ayant un compte -->
                  <select class="form-control" required="required" name="compteCible" *ngIf="comptesAgence">                    
                    <option value="" disabled>
                      Séletionner un compte
                    </option>
                    
                    <option *ngFor="let compteCible of comptesConseiller" (click)="onSelect(comptesAgence)">
                        n°{{compteCible.numero}} - Client : {{compteCible.client.prenom}} {{compteCible.client.nom}}
                      </option>
                  </select>
                  <!-- Le conseiller n'a pas de clients ayant un compte -->
                  <select class="form-control" required="required" name="compteEmetteur" *ngIf="!comptesAgence">   
                    <option value="" disabled>
                      Il n'y a pas de compte dans votre banque !
                    </option>
                  </select>
                </div>
            </form>
<!--
          <div class="form-group">
            <label  for="amout">Montant de la transaction :</label>
            <input type="number" min="0" data-bind="value:replyNumber" class="form-control" required="required" name="montant"></input>
          </div>
          <input type="hidden" name="login" value={{employeLogin}}>
          <input class="btn btn-primary" value="Effectuer le virement"></input>
        -->
      </form>

      </fieldset>
      
    </div>
  </div>